body {
	margin: 0;
}
<style>

.mtop-10 { margin-top: 10px; }
.mtop-20 { margin-top: 20px; }
.mtop-30 { margin-top: 30px; }

.mbot-10 { margin-bottom : 10px; }
.mbot-20 { margin-bottom : 20px; }
.mbot-30 { margin-bottom : 30px; }

.section {
	float: left;
	width: 100%;
}

.section.phor-24 {
	padding: 0 24px;
	box-sizing: border-box;
}

.bg-eee { background-color: #eee; }
.page-header {
	float: left;
	width: 100%;
	padding: 15px; /* 100% + 30px */
	box-sizing: border-box; /* 이 라인이 없으면  width : calc(100% - 30px) 해줘야함 */
	font-size: 1.1em;
	font-weight: bold;
	text-align: center;
	border-bottom: 1px solid #ddd;
}

.page-footer {
	position: absolute;
	width: 100%;
	bottom: 20px;
	font-size: 0.9em;
	color: #999;
	text-align: center;
}

.form-txt {
	float: left;
	width: 100%;
	padding: 0px 15px;
	line-height: 44px;
	background-color: white;
	font-size: 1.1em;
	border: 1px solid #ddd;
	border-radius: 10px;
	outline: none;  /* 클릭시 파란 박스가 나오지 않게한다. */
}

.form-txt:focus {
	border: 1px solid black;
}

.form-submit {
	float: left;
	width: 80%;
	margin: 10px 10%;
	padding: 10px 0;
	background-color: #24C;
	text-align: center;
	color: white;
	border-radius: 8px;
	cursor: pointer;
}

.form-btn {
	float: left;
	padding: 8px 25px;
	background-color: white;
	text-align: center;
	color: #24C;
	border: 1px solid #24C;
	border-radius: 8px;
	cursor: pointer;
}

.form-submit.mtop-30{
	margin-top: 30px;
}
.form-submit.mbot-30{
	margin-bottom: 30px;
}



</style>